body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .content {
    position: relative;
    top: 50px;
    

  }
  .row {
    display: flex;
    width :100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    margin-left: 30px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    width: 380px;
  }
  .card img {
    height :250px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 103%;
    margin-left: -13px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media (max-width: 415px) {
    .content {
      position: relative;
      top: 50px;
    }
    .row {
      display: block;
      width :100%;
      margin-top: 0px;
      margin-left: -28px;
      margin-bottom: 50px;
    }
    .column {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 0px;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
    }
    .container {
    }
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 103%;
      margin-left: -13px;
      text-decoration: none;
    }
  }