.admin {
	min-height: 100vh;
}
.wrapper {
	padding: 10px;
	padding-top: 75px;
	background: var(--second-bg-color);
	transition: margin-left .5s;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
}

.counter p {
	margin-left: 0;
}
.box .pr1 {
	width: 100%;
	margin-left: 0px;
}
.box .pr2 {
	width: 100%;
	margin-left: 0px;
	margin-top: 20px;
}
.box .pr3 {
	width: 100%;
	margin-left: 0px;
	margin-top: 20px;
}
.row:after, .row:before {
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 10px;
}

/* Extra small devices <= 600px */




/* large laptops and desktops >= 1200px */

.counter {
	padding: 16px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.couner i {
	font-size: 50px;
}

.card {
	background: var(--main-bg-color);
	color: var(--main-color);
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}




.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid var(--second-bg-color);
	position: relative;
}

.card-header i {
	color: var(--main-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.card-header i:hover {
	cursor: pointer;
}

.card-header h3 {
	margin: 0;
}

.card-content {
	padding: 20px;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table td {
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid var(--second-bg-color);
	padding: 15px;
}
tr {
	border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
table th { 
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid var(--second-bg-color);
	padding: 15px 12px;
	text-align: left;
}





 


.card-content .inputBox {
	width: 100%;
}
.card-content .inputBox input {
	width: 100%;
}
.card-content .inputBox textarea {
	width: 100%;
}
.content .left {
	width: 60%;
	height :100%;
	margin-bottom: 100px;
	
}
.content .right {
	width: 40%;
	height :100%;
	
}
.content {
	width: 100%;
	display: flex;
}
@media (max-width: 415px) {
	.content {
		display: inline-block;
	}
	.content .right{
		 width: 100%;
	}
	.content .left{
		width :100%;
		margin-left: 0;
	}
	.time, .time-product {
		display: none;
	}
	.box {
		width: 100%;
	}
	.card-content .inputBox {
		width: 100%;
	}
	.pr1 {
		width: 100px; 
	}
	.pr1 .card {
		width: 100%;
	}
	.pr2  {
		width: 410px;
	}
	.pr2 .card {
		width: 100%;
	}
	.pr3  {
		width: 100%;
	}
	.pr3 .card {
		width: 100%;
	}
	.card-content .inputBox {
		width: 100%;
	}
	.card-content .inputBox input {
		width: 100%;
	}
	.card-content .inputBox textarea {
		width: 100%;
	}
	.a {
		height: 60px;
		width: 100px;
	}
	.row h3{
		font-size: 13px;
		display: none;
	}
	.row p{
		font-size: 13px;
		margin-left: -5px;
	}
	
}