$color: #fff;
$bgred: #CC0000;


.content {
    height: 100vh;
    display: flex ;
    position: relative;
    top: 60px;
}
.content .left {
    width: 40%;
    height: 100%;
    text-transform: uppercase;
    
}
.content .left:hover {
    background: rgb(245, 244, 244) ;
   color: rgb(196, 6, 6) ;
}
.content .left input:hover{
    background: rgb(255, 255, 255) ;
   color: rgb(196, 6, 6) ;
}
.content .left textarea:hover{
    background: rgb(255, 255, 255) ;
   color: rgb(196, 6, 6) ;
}
.left .title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 30px;
}
.left .inputBox {
    width: 100%;
   
    margin-bottom: 30px;
    color: black;
    margin-left: 60px;
    
}
.name {
    width: 80%; 
    display: flex;
    margin-left: 0px;
    margin-bottom: 20px;
}
#firstname {
    width: 210px; 
    margin-right: 65px  ;
}
#lastname {
    width: 210px;
    margin-left: 0px ;
}
.left .inputBox input{
    width: 80%;
    height: 60px;
    background: rgb(245, 241, 241) ;
    border: none;
    border: 0.5px solid gray;
}
.left .inputBox textarea{
    width: 80%;
    height: 80px;
    background: rgb(245, 241, 241) ;
    border: none;
    border: 0.5px solid gray;
}
.left button {
    text-align: center;
    width: 80%;
    height: 50px;
    margin-left: 60px;
    color: #fff;
    background: -webkit-linear-gradient(left, rgb(192, 50, 50), rgb(35, 27, 27));
    transition: 0.7s;
}
.left button:hover {
    transform: scale(0.8);
}
span.star {
    color: red;
}
.content .right {
    width: 60%;
    height: 100%;
    background-color: rgb(248, 248, 248);
}
.right .title {
    font-size: 30px;
    margin-top: 80px;
    margin-left: 10%;
}
.right .text {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10%;
    width: 600px;
}
.right .question {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10%;
    width: 600px;
}
.right .box {
    width: 700px;
    height: 60px;
    margin-bottom: 50px;
    position: relative;
    transition: 0.5s;
}
.box .fa {
    position: absolute;
    right: 50px;
    bottom: 10px;
    color: rgb(173, 147, 147);
    font-size: 20px;
    transition: 0.5s;
}
.box:hover .fa {
   
    right: 0px;
    transform: scale(1.3);
   
}
.right .box h3 {
    width: 700px;
    height: 60px;
    margin-bottom: 0px;
    position: relative;
}
.right .box span {
    content: '';
   position: absolute;
   bottom: -40px;
   width: 100%;
   height: 1px;
   background: gray;
}
@media (max-width: 600px) {
    .content {
        display: inline-block ;
        position: relative;
        top: 100px;
        height: 100% ;
    }
    .name {
      }
    .left {
        width: 100%;
        height: 100%;
     }
    .inputBox {
    }
    .right {
        display: none;
    }
    .left .inputBox {
        width: 100%;
        margin-bottom: 30px;
        color: black;
        margin-left:  30px;
        
    }
    .left .inputBox input{
        height: 40px;
        background: rgb(245, 241, 241) ;
        border: none;
        border: 0.5px solid gray;
    }
    #firstname {
        width: 140px  ; 
    }
    #lastname {
        width: 140px  ; 
    }
    #email {
        width: 350px  ; 
    }
    #message {
        width: 350px  ; 
    }
    #add {
        width: 350px  ; 
    }
    .content .left:hover {
        background: #fff   ;
       color: rgb(196, 6, 6) ;
    }
    .left .title {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 50px;
        font-size: 30px;
        display: none ;
    }
    .left button {
        text-align: center;
        width: 300px;
        height: 50px;
        margin-left: 55px;
        margin-bottom: 150px;
    }
}
@media (max-width: 376px) {
   
  
    .left .inputBox {
        width: 100%;
        margin-bottom: 30px;
        color: black;
        margin-left:  12px;
        
    }
    .left .inputBox input{
        height: 40px;
        background: rgb(245, 241, 241) ;
        border: none;
        border: 0.5px solid gray;
    }
  
    .content .left:hover {
        background: #fff   ;
       color: rgb(196, 6, 6) ;
    }
    
    .left button {
        text-align: center;
        width: 300px;
        height: 50px;
        margin-left: 40px;
        margin-bottom: 150px;
    }
}
@media (max-width: 361px) {
   
  
    .left .inputBox {
        width: 100%;
        margin-bottom: 30px;
        color: black;
        margin-left:  5px;
        
    }
    .left .inputBox input{
        height: 40px;
        background: rgb(245, 241, 241) ;
        border: none;
        border: 0.5px solid gray;
    }
  
    .content .left:hover {
        background: #fff   ;
       color: rgb(196, 6, 6) ;
    }
    
    .left button {
        text-align: center;
        width: 300px;
        height: 50px;
        margin-left: 30px;
        margin-bottom: 150px;
    }
}
@media (max-width: 321px) {
   
  
    .left .inputBox {
        width: 100%;
        margin-bottom: 30px;
        color: black;
        margin-left:   10px;
        
    }
    .left .inputBox input{
        height: 40px;
        background: rgb(245, 241, 241) ;
        border: none;
        border: 0.5px solid gray;
    }
    #firstname {
        width: 120px  ; 
    }
    #lastname {
        width: 120px  ; 
    }
    #email {
        width: 300px  ; 
    }
    #message {
        width: 300px  ; 
    }
    #add {
        width: 300px  ; 
    }
  
    .content .left:hover {
        background: #fff   ;
       color: rgb(196, 6, 6) ;
    }
    
    .left button {
        text-align: center;
        width: 200px;
        height: 50px;
        margin-left: 60px;
        margin-bottom: 150px;
    }
}