
a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}



p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

 
.swiper-container {
    width: 100%;
    padding-bottom: 50px;
	padding-top: 50px;
     margin-top: 100px;
  }
  
  .swiper-container .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 370px;
    height: 370px;
  }
  
  .swiper-container  .swiper-slide img {
    display: block;
    width: 100%;
	height: 100%;
  }

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}



.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.header_section{
	width: 100%;
	float: left;
	background-image: url(/img//images/banner.png);
	height: 90vh;
	padding: 10px 0px;
	background-size: 100%;
	background-repeat: no-repeat;
     margin-top: 67px;
}

.padding_0{ width: 100%; float: left; }

.mens_taital{ width: 100%; float: left; color: #908d92; font-size: 14pt; }
.mens_taital_2 {
    width: 100%;
    float: left;
    color: #908d92;
    font-size: 14pt;
    margin-top: 150px;
}
.page_no {
    width: 28%;
    /* margin: 0 auto; */
    text-align: center;
    color: #ffffff;
    border: 2px solid #8d8791;
    border-radius: 30px;
    margin-top: 150px;
    padding-bottom: 10px;
    display: inline-block;
    padding-top: 12px;
    margin-left: 0px;
}


	
.last{ padding-left: 30px !important; }
.banner_text{
	width: 100%;
	float: left;
	font-size: 30pt;
	color: #db5660;
}

.mens_text{
	width: 100%;
	float: left;
	font-size: 39pt;
	color: #fdfcfc;
	line-height: 40px;
}
.lorem_text{
	width: 100%;
	float: left;
	font-size: 13pt;
	color: #fefefe;
	margin-left: 0px;
}

.buy_bt{ 
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #ff4e5b;
	color: #ffffff;
	font-size: 16pt;
 }

 .more_bt{
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #ffffff;
	color: #ff4e5b;
	font-size: 16pt;
	margin-left: 25px;
 }

.banner_taital{
	width: 100%;
	float: left;
	margin-top: 200px;
     margin-left: 0;
}



/*------------------------------ vertical bootstrap slider----------------------------*/


.collection_section{ width: 100%; float: left; padding-bottom: 0px; }
.new_text{
	width: 100%;
	float: left;
	font-size: 24pt;
	color: #0c0116;
     padding-top: 0px;
}

.consectetur_text{
	width: 100%;
	float: left;
	font-size: 14pt;
	color: #0c0116;
	font-weight: 400;
	margin-left: 0px;
    padding-bottom: 0px;
}

.collection_section_2{
	width: 100%;
	float: left;
}

.about-img {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    margin-left: 64px;
    box-shadow: 0px 0px 10px 0px;
    position: relative;
    z-index: 1;
}
.about-img2 {
     width: 100%;
     float: left;
     background-color: #ffffff;
     height: auto;
     margin-left: -20px;
     margin-top: 50px;
     box-shadow: 0px 0px 10px 0px;
     position: relative;
     z-index: 0;
 }
.new_bt{
	width: 18%;
	float: left;
	background-color: #000;
	font-size: 14pt;
	text-align: center;
	color: #ffffff;
	height: 50px;
	margin-left: -60px;
}

.shoes-img{
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
}

.sport_text {
    width: 24%;
    text-align: center;
    padding-top: 30px;
    font-size: 16pt;
    color: #0c0116;
    border-bottom: 1px solid#000;
    margin: 0 auto;
}
.dolar_text{
	width: 100%;
	float: left;
	text-align:center;
	color: #000;
	font-size: 20pt;
}



.shoes_img{ width: 100%; float: left; padding-top: 30px; }

.shoes-img2{
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 40px;
	margin: 0px
}

.seemore_bt{
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #ff4e5b;
	color: #ffffff;
	font-size: 16pt;	
	margin-top: 35px;
    margin-bottom: 90px;
}

.collectipn_section_3{ width: 100%; float: left; padding-top: 0px;}
.racing_shoes {
    width: 100%;
    float: left;
    background-color: #eae7e7;
    height: auto;
    padding-top: 50px;
    background-size: 100%;
    padding-bottom: 50px;
}
.shoes-img3{ width: 100%; height: 400px; float: left; text-align: center; display: flex;justify-content: center;
}
.shoes-img3 img{margin-left: 0px; width: 400px; height: 400px; float: left; text-align: center;
  display: flex;
  justify-content: center;
}

.collection_text{ 
    width: 100%; 
    float: left; 
    color: #ffffff; 
    text-align: center; 
    font-weight: bold; 
    font-size: 40px; 
    background-color: #db5660;
    padding: 30px 0px;  
}

.sale_text{
	width: 100%;
	float: left;
	font-size: 45pt;
	color: #ed2540;
	line-height: 75px;
}

.number_text{
	width: 100%;
	float: left;
	font-size: 45pt;
	color: #ed2540;
	line-height: 75px;

}

.seemore{
	width: 50%;
	height: 50px;
	color: #ffffff;
	background-color: #ff4e5b;
	color: #ffffff;
	font-size: 16pt;	
	margin-top: 35px;
}


.best_shoes {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 20px 20px 20px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.best_text{
	width: 100%;
	float: left;
	font-size: 14pt;
	color: #000;
	text-align: center;
    margin-left: 0px;
}
.shoes_icon{
	width: 100%;
	float: left;
	text-align: center;
	min-height: 220px;
}

.star_text{
	width: 100%;
	float: left;
}
.left_part {
    width: 60%;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}
.left_part ul{ margin: 0px; padding: 0px; }
.left_part li{ float: left; padding-left: 10px; }
.right_part{ width: 40%; float: left; }
.shoes_price{ 
	width: 100%; 
	float: left; 
	font-size: 22pt; 
	color: #0f0d10; 
	text-align: right;
}

.buy_now_bt{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.buy_text{
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #fff;
	color: #ffffff;
	font-size: 16pt;	
	margin-top: 35px;
}


.brand {
     width: 100%;
     margin-bottom: 50px;
     
 }
 .brand .img-brand {
     width: 70%;
     margin-bottom: 20px;
     display: flex;
     margin: auto;
 }
 .brand .nike img{  
     width: 90%;
 }

@media (max-width: 1000px) {
     .header_section {
          font-size: 13px;
     }
     .swiper-container .swiper-slide {
        
          width: 200px;
          height: 200px;
        }

        .shoes-img3{ width: 100%; height: 400px; float: left; text-align: center; display: flex;justify-content: center;
        }
       .shoes-img3 img{margin-left: 0px; width: 350px; height: 350px; float: left; text-align: center;
          display: flex;
          justify-content: center;
        }
       
        .new_bt, .seemore_bt  {
             display: none;
        }
        .about-img {
             margin-left: 0;
        }
        .tx{
             text-align: center;
        }
        .about-img2 {
          
          margin-left: 0px;
          margin-bottom: 100px;
         
      }
      .banner_taital{
          width: 100%;
          float: left;
          font-size: 20px;
          margin-top: 30px;
          margin-left: 0;
     }
     .banner_text, .mens_text {
          font-size: 20px;
     }
     .buy_bt{ 
          width: 40%;
          height: 40px;
          font-size: 13pt;
          margin-left: 0;
      }
      .more_bt{
          width: 40%;
          height: 40px;
          color: #ffffff;
          background-color: #ffffff;
          color: #ff4e5b;
          font-size: 13pt;
          margin-left: 25px;
      }
      .new_text {
           margin-top: 100px;
           text-align: center;
      }
      .header_section{
          width: 100%;
         
          height: 100%;
         
     }
}
@media (max-width: 600px) {
     .shoes_img, .more_bt, .buy_bt {
          display: none;
     }
     .new_text {
          margin-top: 0;
     }
     .header_section{
          width: 100%;
          float: left;
          background-image: url(/img//images/banner.png);
          height: 100%;
          padding: 10px 0px;
          background-size: 100%;
          background-repeat: no-repeat;
          margin-top: 67px;
     }
     .banner_taital{
          width: 100%;
          float: left;
          font-size: 20px;
          margin-top: 30px;
          margin-left: 0;
     }
}
