
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    transition: 0.5s;
    position: relative;
    top : 50px;
    z-index: 1;
}
.content.active {
    background-color: #f43648;
}
.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.blueBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.blueBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blueBg .box h2 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.blueBg .box  button{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none
}
.formBx  {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.formBx.active {
    left: 50%;
}
.formBx .singinForm{
    transition-delay: 0.25s;
}
.formBx .singupForm{
    margin-left: 100%;
}
.formBx.active .singinForm{
    transition-delay: 0s;
    left: -100%;
}
.formBx.active .singupForm{
    margin-left: 0%;
}
.formBx.active .singupForm button{
}


.formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formBx form h3{
   font-size: 1.5em;
   color: #333;
   margin-bottom: 20px;
   font-weight: 500;
   text-align: center;
}
.formBx form a{
   text-decoration: none;
}
.formBx form input{
   width: 100%;
   margin-bottom: 20px;
   padding: 10px;
   outline: none;
   font-size: 16px;
   border: 1px solid #333;
}
 input[type="submit"]{
   background-color: #03a9f4;
   border: none;
   color: #fff;
   width: 100px;
   cursor: pointer;
}
@media (max-width: 991px) {
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .blueBg {
        top: 0;
        height: 100%;
    }
    .formBx {
        width: 100%;
        height: 500px;
        top :0;
        box-shadow: none;
    }
    .blueBg .box {
        position: absolute;
        width: 100%; 
        height: 150px;
        bottom: 0;
    }
    .singin {
        top :0
    }
    .formBx.active {
        left: 0;
        top :150px
    } 

}