:root{
    --primary: #2175f5;
}
body {
    background-color: rgb(243, 241, 241);
}
.content{
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 100px;
}
.top {
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    width: 73%;
    margin-top: 0px;
}
.dell {
    width: 15%;
    height: 550px;
    margin-left: 10px;
    background-color: #fff;
}
.shoeBackground{
    position: relative;
    width: 50%;
    height: 550px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.gradients{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.first{
    z-index: 0;
    animation: 1s width ease;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}

.gradient[color="blue"]{
    background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="red"]{
    background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="green"]{
    background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="orange"]{
    background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="black"]{
    background-image: linear-gradient(45deg, #111, #666);
}





.shoe{
    position: absolute;
    width: 100%;
    height: 100%;
  
    bottom: 0;
    right: 0;
    transition: .5s;
}

.info{
    width: 60%;
    height: 550px;
    background-color: #fff;
    z-index: 1;
    padding: 35px 40px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName{
    padding: 0 0 10px 0;
    margin-bottom: 5px;
}

.shoeName div{
    display: flex;
    align-items: center;
}

.shoeName div .big{
    margin-right: 10px;
    font-size: 2rem;
    color: #333;
    line-height: 1;
}

.shoeName div .new{
    background-color: var(--primary);
    text-transform: uppercase;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    transition: .5s;
}

.shoeName .small{
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    margin-bottom: -10px;
    font-size: 13px;
    text-transform: capitalize;
}

.shoeName, .description, .color-container, .size-container{
    border-bottom: 1px solid #dadada;
}

.description{
    padding: 10px 0;
    margin-bottom: 10px;
}
.description p{
    margin-top: 0;
    font-size: 15px;
    display: inline-block;
    word-wrap: break-word;
     overflow:   hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 ;
}

.title{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text{
    color: #555;
    font-size: 17px;
    margin-bottom: -10px;
}

.color-container{
    padding: 10px 0;
}

.colors{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color{
    width: 25px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: .5s;
}

.color[color="blue"]{
    background-color: #2175f5;
    border-color: #2175f5;
}

.color[color="red"]{
    background-color: #f84848;
    border-color: #f84848;
}

.color[color="green"]{
    background-color: #29b864;
    border-color: #29b864;
}

.color[color="orange"]{
    background-color: #ff5521;
    border-color: #ff5521;
}

.color[color="black"]{
    background-color: #444;
    border-color: #444;
}

.color.active{
    border-color: #fff;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.size-container{
    padding: 10px 0;
    margin-bottom: 10px;
}

.sizes{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.size{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #eee;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.size.active{
    background-color: var(--primary);
    color: #fff;
    transition: .5s;
}

.buy-price{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    color: #333;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 60%;
    right: 30%;
}

.price h1{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
}

.price i{
    font-size: 1.4rem;
    margin-right: 1px;
}

.buy{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
    position: absolute;
    top: 60%;
}

.buy:hover{
    transform: scale(1);
}

.buy i{
    margin-right: 2px;
}

@media (max-width: 1300px){
    .shoe{
        width: 100%;
    }
    .price{
   
        top: 64%;
        right: 25%;
    }
    .buy{
       
        top: 64%;
    }
}

@media (max-width: 1000px){
    .card{
        flex-direction: column;
        width: 70%;
        height: 767px;
        margin-bottom: 200px ;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
    }

    .shoe{
        width: 100%;
        height: 100%;
        top: 0%;
        right: 0%;
    }
    .info{
        width: 100%;
        height: 100%;
        top: -40%;
        right: 0%;
    }
    .dell {
        display: none;
    }
    .right {
        display: none;
    }
    
.price{
   
    top: 74%;
    right: 20%;
}
.buy{
   
    top: 74%;
}

    .nike{
        top: 20%;
        left: 5%;
    }
}


@media (max-width: 760px){
    .nike{
        font-size: 7rem;
    }

    .shoeName div .big{
        font-size: 1.3rem;
    }
    .card{
        flex-direction: column;
        width: 100%;
        height: 767px;
        margin-bottom: 200px ;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    .product .left {
        width: 100px;
        background-color: #0136af;
    }
    .product .left {
        width: 100%;
        height: 100%;
        background: #fff;
    }
    .left .title {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 0px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: rgb(238, 236, 236);
    }
    
    .left .mota {
        margin-left: 30px;
        position: relative;
    }
    .left .mota::after {
        content: '';
        position: absolute;
        bottom: -50px;
        left: 0px;
        width: 100%;
        height: 0.1px;
        background-color: gray;
    }
    .product {
        width: 100%; 
    }
    .product p {
        margin-bottom: 5px;
        margin-left: -30px;
        width: 100%;
        margin: auto;
    }
    .small{
        font-size: 1rem;
    }

    .new{
        padding: 2px 6px;
        font-size: .9rem;
    }

    .title{
        font-size: .9rem;
    }

    .text{
        font-size: .8rem;
    }

    .buy{
        padding: .5rem .8rem;
        font-size: .8rem;
    }

    .price h1{
        font-size: 1.5rem;
    }

    .price i{
        font-size: .9rem;
    }

    .size{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        font-size: .9rem;
        line-height: 30px;
    }

    .color{
        margin: 0 6px;
        width: 0 20px;
        width: 20px;
        height: 20px;
        border-width: 4px;
    }

    .share{
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
    }

    .share i{
        font-size: .8rem;
        line-height: 35px;
    }

    .logo{
        width: 60px;
        top: 10px;
        left: 10px;
    }

    .info{
        padding: 20px;
    }
    .buy i{
        display: none;
    }

    .container{
        padding: 20px;
    }
}


.product {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
   margin-left: 0px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
}
.product .left {
    width: 73%;
    height: 600px;
    background: #fff;
}
#txt {
    display: inline-block;
    word-wrap: break-word;
     overflow:   hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 ;
}
.left .mota {
    width: 90%;

}
.product .right {
    width: 15%;
    height: 600px;
    background: #fff;
    margin-left: 10px;
    overflow-y: scroll;

}
.left .title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    margin: auto;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.301);
    color: #000;
}
.left-one .rate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.left .mota {
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    
}

.left .mota p{
    margin-bottom: 10px;
    margin-left: 0;
}
.left-one {
    margin-bottom: 0px;
}
.left-one .rate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.left-one img{
    display: flex;
    justify-content: center;
}
.left-one span{
    display: flex;
    justify-content: center;
}
.right .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px; 
}

.right .title h3 {
    position: relative;
   right: 0px;
}
.right .title h3::after {
    content: '';
    position: absolute;
   left: 0px;
   bottom: 0;
   background-color: #000;
   width: 100%;
   height: 1px;
}


.product p {
    margin-bottom: 5px;
    margin-left: 30px;
    width: 100%;
}
.box {
    margin-bottom: 15px;
    position: relative;
    height: 180px;
}
.box::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1px;
    background-color: gray;
}
.box .name {
    margin-left: 30px;
    max-width: 200px;
    
  
}
.box .price {
    margin-left: 0px;
    position: absolute;
    bottom: 5px;
}
.box .img {
    padding-left: 10px;
    padding-right: 10px;
}
.right .box .img img {
    width :100%;
    height: 140px;
    transition: 1s;
}

// dell 
.dell .box {
    width: 100%;
    height: 550px;
   
}
.dell .box img{
    width: 100%;
    height: 100%;
   
}
.rate {
    
}
