.content {
  background: #282828;
  font-family: tahoma;
  text-align: justify;
  overflow: hidden;
  min-height: 100vh; }

#about {
  padding-top: 98px;
  margin-top: 100px;
  padding-bottom: 101px; }

#about .triangle-right {
  margin-top: 95px;
  width: 0;
  height: 0;
  border-top: 259px solid transparent;
  border-left: 470px solid #d6c6b2;
  border-bottom: 259px solid transparent; }

#about .triangle-right img {
  position: absolute;
  left: -1px;
  top: 81px;
  width: 74%; }

.fa-play {
  font-size: 100px; }

#about .p-first {
  margin-bottom: 30px; }

#about h2 {
  margin-bottom: 47px;
  margin-top: 12px; }

#about .social-link-text {
  margin-top: 50px;
  margin-bottom: 25px; }

#about .about-link {
  padding-left: 0px;
  text-align: center; }

#about .about-link li {
  display: inline-block; }

#about .about-link li a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #d6c6b2;
  margin-right: 10px;
  font-size: 22px;
  color: #d6c6b2;
  transition: all .3s; }

#about .about-link li a i:hover {
  color: #222222;
  background: #d6c6b2;
  border-color: #d6c6b2; }

#about .about-img {
  position: relative; }

#about .about-img {
  position: relative; }

#about .about-img .man {
  position: absolute;
  bottom: 161px;
  top: 45%;
  left: 0px;
  width: 200px; }

#about .about-img .shape {
  width: 300px;
  margin-top: 80px; }

#about .about-img:hover .man {
  transform: scale(1.2); }

.color-3 {
  color: #d6c6b2;
  text-align: center; }

.text-white {
  color: white; }

p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: #d6c6b2; }

.btn-danger {
  border-radius: 0;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto; }

@media (max-width: 990px) {
  .content {
    width: 100%; }
  #about {
    margin-top: -50px; }
  .shape {
    width: 80%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translate(70%); }
  #about .about-img .man {
    position: absolute;
    bottom: 161px;
    top: 27%;
    left: 200px;
    width: 250px; }
  #about {
    width: 100%; } }

@media (max-width: 680px) {
  .content {
    width: 100%; }
  .shape {
    width: 70%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translate(40%); }
  #about .about-img .man {
    position: absolute;
    bottom: 161px;
    top: 30%;
    left: 140px;
    width: 220px; }
  #about {
    width: 100%; } }

@media (max-width: 415px) {
  .content {
    width: 100%; }
  .shape {
    width: 70%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translate(10%); }
  #about .about-img .man {
    position: absolute;
    bottom: 161px;
    top: 30%;
    left: 40px;
    width: 220px; }
  #about {
    width: 100%; } }

@media (max-width: 320px) {
  .content {
    width: 100%; }
  .shape {
    width: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translate(-2%); }
  #about .about-img .man {
    position: absolute;
    bottom: 161px;
    top: 30%;
    left: 10px;
    width: 220px; }
  #about {
    width: 100%; } }

@media (max-width: 281px) {
  .content {
    width: 100%; }
  .shape {
    width: 100px;
    margin-left: 10px;
    transform: translate(-2%); }
  #about .about-img .man {
    position: absolute;
    bottom: 161px;
    top: 30%;
    left: 10px;
    width: 220px; }
  #about {
    width: 100%; } }
