:root {
  --primary-color: #4834d4;
  --success-color: #6ab04c;
  --warning-color: #f0932b;
  --danger-color: #eb4d4b;
  --light-color: #212529;
  --light-second-color: #727475;
  --light-background: #ffffff;
  --light-second-background: #f1f1f1;
  --dark-color: #909090;
  --dark-second-color: #f5f6fa;
  --dark-background: #23242D;
  --dark-second-background: #181818; }

.light {
  --main-bg-color: var(--light-background);
  --second-bg-color: var(--light-second-background);
  --main-color: var(--light-color);
  --second-color: var(--light-second-color); }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg-color);
  color: var(--main-color);
  margin: 0; }

#btn {
  cursor: pointer; }

.wrapper {
  padding: 10px;
  margin-left: 82px;
  padding-top: 75px;
  background: var(--second-bg-color);
  transition: margin-left .5s; }

.sidebar {
  width: 82px;
  height: 100vh;
  position: fixed;
  margin-top: 70px;
  background: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 100;
  transition: width .5s; }

.sidebar:hover {
  width: 250px; }

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; }

.sidebar-nav-item {
  width: 100%; }

.sidebar-nav-link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none; }

.sidebar-nav-link i {
  font-size: 1.5rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.sidebar-nav-link div {
  min-width: 82px;
  height: 50px;
  position: relative; }

.sidebar-nav-link:hover {
  background: var(--second-bg-color); }

.sidebar-nav-link.active {
  background: var(--second-bg-color);
  color: var(--danger-color); }

.sidebar-nav-link.active div {
  border-left: 5px solid var(--danger-color); }

.sidebar-nav-link.active i {
  color: var(--danger-color);
  margin-left: -5px; }

.sidebar-expand .sidebar {
  width: 250px; }

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.row:after, .row:before {
  box-sizing: border-box; }

.counter {
  padding: 16px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.couner i {
  font-size: 50px; }

.card {
  background: var(--main-bg-color);
  color: var(--main-color);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.card-header {
  padding: 15px 30px;
  border-bottom: 1px solid var(--second-bg-color);
  position: relative; }

.card-header i {
  color: var(--main-color);
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%); }

.card-header i:hover {
  cursor: pointer; }

.card-header h3 {
  margin: 0; }

.card-content {
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  height: 578px; }

table {
  border-collapse: collapse;
  width: 100%; }

table td {
  border-top: 1px solid var(--second-bg-color);
  padding: 15px; }

table th {
  border-top: 1px solid var(--second-bg-color);
  border-bottom: 1px solid var(--second-bg-color);
  padding: 15px 12px;
  text-align: left; }

.dot i {
  display: inline-block;
  width: .385rem;
  height: .385rem;
  margin-right: .385rem;
  vertical-align: middle;
  border-radius: 50%; }

@media (max-width: 500px) {
  #small-menu {
    display: none; }
  .wrapper {
    padding: 10px;
    margin-left: 0px;
    padding-top: 75px;
    background: var(--second-bg-color);
    transition: margin-left .5s; } }
