* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s; }

header {
  height: 70px;
  width: 100%;
  background: #fff;
  position: relative;
  margin: auto;
  position: fixed;
  z-index: 3; }

header .top {
  display: flex;
  height: 20px;
  width: 100%;
  background-color: #CC0000;
  position: absolute;
  top: 0;
  left: 0; }

header .top .contact span {
  padding: 0 30px; }

header .bottom {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 0; }

#sub-menu {
  width: 70%;
  height: 710px;
  position: relative;
  top: 50px;
  left: 0;
  display: none; }

#sub-menu:after {
  content: '';
  width: 100%;
  height: 710px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: -1; }

.a1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; }

.a1:before {
  content: '\f111';
  font-family: FontAwesome;
  font-size: 8px;
  margin-left: 40px;
  margin-right: 10px;
  color: #CC0000; }

.a1 span {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.5s; }

.a1:hover span {
  color: #fff;
  margin-left: 100px;
  transform: scale(1.2); }

.sub-menu a:hover {
  background-color: #e84118; }

#show {
  color: #fff;
  margin-top: 15px;
  font-size: 23px;
  position: absolute;
  left: 30px;
  cursor: pointer;
  transition: 0.5s;
  display: none; }

.bottom .logo {
  width: 100px;
  height: 100%;
  margin-left: 200px; }

.bottom .logo img {
  width: 100%;
  height: 100%; }

header .bottom ul {
  display: flex;
  position: absolute;
  list-style: none;
  left: 22%;
  text-transform: uppercase; }

header .bottom ul a {
  text-decoration: none;
  margin: 0 5px;
  color: #fff;
  transition: 0.5s;
  width: 100px;
  height: 50px;
  text-align: center; }

header .bottom ul a:hover {
  background-color: #CC0000; }

header .bottom ul a li {
  height: 100%;
  width: 100%;
  color: #fff;
  line-height: 50px; }

.red {
  background-color: red; }

.icon {
  position: absolute;
  top: 0;
  right: 230px;
  display: flex; }

.icon .fa {
  margin: 15px 10px;
  color: #fff;
  font-size: 23px;
  align-items: center; }

.fa-search {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #CC0000; }

.fa-cog {
  animation: rotate  10s linear infinite;
  animation: rotateInfinite linear 10s infinite; }

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.search {
  color: #fff;
  position: absolute;
  left: 60%;
  top: 20%;
  height: 30px;
  width: 200px;
  background-color: #161b1a;
  border-radius: 30px; }

.search .search-btn {
  color: #e84118;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f3840;
  margin-top: -29.5px; }

.search .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  font-size: 15px;
  line-height: 30px; }

@media (max-width: 992px) {
  .bottom .logo {
    margin-left: 2px; }
  header .bottom ul {
    left: 15%; }
  header .bottom ul a {
    margin-left: 5px;
    width: 65px;
    font-size: 13px; }
  .search {
    position: absolute;
    left: 70%;
    top: 20%;
    width: 150px; } }

@media (max-width: 565px) {
  .bottom .logo {
    margin-left: 0;
    width: 60px; }
  header .bottom ul {
    left: 10%; }
  header .bottom ul a {
    margin-left: 3px;
    width: 60px; } }

@media (max-width: 500px) {
  body {
    width: 100%; }
  header {
    width: 100%; }
  header .bottom ul {
    display: none; }
  .logo {
    display: none; }
  .menu {
    left: 20px; }
  .icon {
    right: 15px; }
  .search {
    left: 22%; }
  #show {
    display: block; } }

@media (max-width: 361px) {
  .search {
    left: 21%;
    width: 140px; } }

@media (max-width: 321px) {
  .search {
    display: none; } }
