.container {
  min-height: 100vh; }

.img {
  width: 100%;
  height: 300px;
  background: url(https://www.toshiba.com/taes/cms_images/contact-us.jpg);
  background-size: 130% 100%;
  position: relative; }

.img::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 20px;
  background: #CC0000; }

.black {
  width: 100%;
  height: 100px;
  background-color: #000;
  position: relative; }

.adress h1 {
  width: 100%;
  position: relative; }

.adress h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  height: 2px;
  background-color: #000; }

.txt {
  width: 70%;
  height: 100px;
  display: flex;
  margin: auto;
  position: relative;
  margin-top: 10px;
  color: #fff; }

.txt .left {
  width: 50%; }

.txt h3 {
  color: #CC0000; }

.txt .left h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px; }

.txt .left p {
  margin-bottom: 5px;
  font-size: 13px;
  width: 100%; }

.txt .right h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px; }

.txt .right {
  width: 50%;
  margin-left: 160px; }

.txt .right p {
  width: 100%;
  margin-bottom: 5px;
  font-size: 13px; }

.content {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px; }

.content::after {
  content: '';
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: -130px;
  background-color: gray; }

.map {
  width: 50%;
  height: 400px;
  margin-left: -100px;
  margin: auto; }

.map iframe {
  width: 100%;
  height: 400px;
  margin-left: 0px; }

.adress {
  width: 50%;
  margin: auto;
  margin-top: 0px;
  margin-left: 0px; }

.adress h1 {
  text-align: center;
  color: #CC0000; }

.box {
  display: flex;
  justify-content: center; }

.child {
  margin-top: 50px;
  margin-left: 0px;
  width: 50%; }

.adress p {
  margin-bottom: 10px;
  width: 100%;
  padding-left: 50px; }

@media (max-width: 991px) {
  .content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px; }
  .txt {
    width: 100%;
    height: 100px;
    display: block;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center; }
  .txt .left {
    width: 100%;
    position: absolute;
    padding: 0 10px; }
  .txt .right {
    display: none; }
  .img::after {
    height: 20px; }
  .adress {
    width: 100%;
    position: relative;
    margin-bottom: 50px; }
  .adress::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -20px;
    background-color: gray; }
  .content::after {
    display: none; }
  .adress h1 {
    text-align: center; }
  .img {
    width: 100%;
    height: 200px; }
  .map {
    width: 100%;
    margin-left: 0;
    margin-top: -30px;
    margin-bottom: -30px; }
  .box {
    width: 100%;
    display: flex;
    justify-content: center; }
  .child {
    margin-top: 50px;
    margin-left: 0px;
    width: 30%; }
  .black {
    width: 100%;
    height: 90px;
    background-color: #000;
    position: relative; } }

@media (max-width: 700px) {
  .adress p {
    margin-bottom: 10px;
    width: 100%;
    padding-left: 40px; }
  .txt .left {
    width: 100%;
    padding-left: 10px; }
  .child {
    margin-top: 50px;
    margin-left: 0px;
    width: 50%; }
  .black {
    width: 100%;
    height: 90px;
    background-color: #000;
    position: relative; } }

@media (max-width: 416px) {
  .adress p {
    margin-bottom: 10px;
    width: 100%;
    padding-left: 40px; }
  .txt .left {
    width: 100%;
    padding-left: 20px; }
  .child {
    margin-top: 50px;
    margin-left: 0px;
    width: 50%; }
  .black {
    width: 100%;
    height: 90px;
    background-color: #000;
    position: relative; } }
