* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.product {
  width: 100%;
  min-height: 100vh;
  background: #fff; }

.product .image {
  width: 100%;
  height: 340px; }

.product .image img {
  width: 100%;
  height: 290px;
  margin-top: 15px;
  position: absolute;
  top: 50px; }

@keyframes animate {
  to {
    left: 100%; } }

.product .device {
  width: 100%;
  height: 180px;
  background: #fff; }

.product .device .top {
  width: 100%;
  height: 30px;
  background: #CC0000; }

.product .device .bottom {
  width: 100%;
  height: 130px;
  background: black;
  color: #fdfdfd; }

.bottom .text {
  width: 70%;
  margin: auto; }

.device .bottom h2 {
  color: #CC0000;
  font-size: 34px;
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px; }

.device .bottom h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 3px;
  background: #CC0000;
  color: #CC0000; }

.device .bottom p {
  width: 100%; }

.brand {
  width: 100%; }

.brand .img-brand {
  width: 70%;
  margin-top: 50px;
  display: flex;
  margin: auto; }

.brand .nike img {
  width: 90%; }

h1.tt {
  text-align: center;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden; }

h1.tt:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 38%;
  width: 250px;
  height: 2px;
  background-color: #CC0000; }

.product .content {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 0px; }

.product .prd {
  width: 200px;
  height: 300px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  background-color: #f8f8f8;
  top: 10%; }

.product .box {
  width: 200px;
  height: 300px;
  display: flex;
  overflow: hidden;
  position: relative; }

.box .brand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.box .brand:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: gray;
  top: 30px;
  left: 0px; }

.content .box .size {
  width: 100%;
  height: 30px;
  display: flex;
  margin: 25px 0;
  position: absolute;
  top: 5%;
  left: 0; }

.content .box .size .cricle-size {
  display: flex; }

.content .box .size span {
  margin-right: 0px;
  font-size: 12px;
  width: 100%; }

.content .box .size .cricle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #CC0000;
  text-align: center;
  margin: 0 5px;
  color: #fff; }

.box .img {
  position: relative;
  top: 20%;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: cover;
  transition: 0.5s; }

.box .img img {
  width: 100%;
  height: 100%;
  margin-top: 5px; }

.box:hover .img {
  opacity: 0.5; }

.prd:hover .addtocard {
  position: absolute;
  right: 45px;
  opacity: 1; }

.prd:hover .view {
  transform: translateX(250px);
  opacity: 1; }

.box .img img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.box .name {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  height: 36px;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.box .addtocard {
  position: absolute;
  right: -200px;
  top: 55%;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  background: #CC0000;
  color: #fff;
  border-radius: 30px; }

.box .info a {
  text-decoration: none; }

.box .info .view {
  position: absolute;
  left: -200px;
  top: 40%;
  width: 100px;
  height: 30px;
  text-align: center;
  transition: 1s;
  color: #fff;
  background: #CC0000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.box .info .view:hover {
  background: #fff;
  color: #CC0000; }

.box .info .addtocard:hover {
  background: #fff;
  color: #CC0000; }

.box .price {
  position: absolute;
  bottom: 30px;
  right: -160px;
  width: 100%; }

.prd:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1px;
  background: gray;
  bottom: 0px;
  left: 0px; }

@media (max-width: 769px) {
  .product .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0px; }
  .product .device .bottom {
    width: 100%;
    height: 90px;
    background: black;
    color: #fdfdfd; }
  .device .bottom p.txt {
    display: none; }
  .device .bottom h2:after {
    width: 25%;
    margin-bottom: 0;
    margin-left: 0px; } }

@media (max-width: 416px) {
  .product .device {
    width: 100%;
    height: 200px; }
  .product .content {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0px; }
  .device .bottom p.txt {
    display: none; }
  .device .bottom p.p1 {
    margin-top: 0;
    margin-bottom: 20px; }
  .product .image {
    width: 100%;
    height: 200px; }
  .product .image img {
    width: 100%;
    height: 140px; }
  .device .bottom h2 {
    margin-bottom: 10px; }
  .device .bottom h2:after {
    width: 30%;
    margin-bottom: 0; }
  h1.tt {
    width: 100%;
    margin-top: -110px;
    margin-bottom: 20px; }
  h1.tt:after {
    left: 19%; }
  .product .prd {
    width: 165px;
    height: 240px;
    margin-top: -30px;
    margin-left: 5%;
    margin-bottom: 50px;
    position: relative;
    transform: translate(2px);
    box-sizing: border-box;
    top: 10%;
    background-color: #f8f8f8;
    position: relative; }
  .product .prd:after {
    bottom: -10px;
    width: 120%;
    left: -27px; }
  .product .box {
    width: 165px;
    height: 240px;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .content .box .size .cricle-size {
    position: absolute;
    right: 10px; }
  .content .box .size .cricle {
    width: 15px;
    height: 15px;
    font-size: 10px;
    margin: 0 3px; }
  .content .box .size span {
    margin-right: 0px;
    font-size: 12px;
    width: 100%;
    margin-left: 0; }
  .box .img img {
    width: 165px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0; }
  .box .name {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%; }
  .box .brand {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%; }
  .prd:hover .addtocard {
    position: absolute;
    right: 30px;
    opacity: 1; }
  .prd:hover .view {
    transform: translateX(230px);
    opacity: 1; }
  .prd .view {
    margin-bottom: 15px; }
  .box .brand:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: gray;
    top: 20px;
    left: 0px; }
  .product .device .top {
    width: 100%;
    height: 10px;
    background: #CC0000; }
  .product .device .bottom {
    width: 100%;
    height: 90px; }
  .bottom .text {
    width: 100%;
    padding-left: 50px;
    margin-bottom: 0; }
  h1.tt {
    width: 100%;
    margin-top: -110px;
    margin-bottom: 50px; } }

@media (max-width: 376px) {
  .product .prd {
    width: 165px;
    height: 240px;
    margin-top: -30px;
    margin-left: 10px;
    position: relative;
    transform: translate(2px);
    box-sizing: border-box;
    top: 10%;
    background-color: #f8f8f8;
    position: relative; }
  .product .prd:after {
    bottom: -10px;
    width: 120%;
    left: -10px; }
  h1.tt:after {
    left: 16%; } }

@media (max-width: 361px) {
  .product .prd {
    width: 165px;
    height: 240px;
    margin-top: -30px;
    margin-left: 4px;
    position: relative;
    transform: translate(2px);
    box-sizing: border-box;
    top: 10%;
    background-color: #f8f8f8;
    position: relative; }
  .product .prd:after {
    bottom: -10px;
    width: 106%;
    left: -5px; } }

@media (max-width: 321px) {
  .product .prd {
    width: 145px;
    height: 240px;
    margin-top: -30px;
    margin-left: 5px;
    position: relative;
    transform: translate(2px);
    box-sizing: border-box;
    top: 10%;
    background-color: #f8f8f8;
    position: relative; }
  .product .prd:after {
    bottom: -10px;
    width: 150%;
    left: -75px; }
  h1.tt:after {
    left: 12%; }
  .box .img img {
    width: 145px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0; }
  .product .box {
    width: 145px;
    height: 240px;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .bottom .text {
    width: 100%;
    padding-left: 25px;
    margin-bottom: 0; } }

@media (max-width: 281px) {
  .product .prd {
    width: 100%;
    height: 260px;
    margin-top: -30px;
    margin-left: 4px;
    position: relative;
    box-sizing: border-box;
    top: 10%;
    background-color: #f8f8f8;
    position: relative; }
  .product .prd:after {
    bottom: -10px;
    width: 100%;
    left: 0px; }
  .bottom .text {
    width: 100%;
    padding-left: 3px;
    margin-bottom: 0; }
  h1.tt:after {
    left: 4%; }
  .box .img img {
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0; }
  .product .box {
    width: 100%;
    height: 260px;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; } }
