<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <div class="content">
 	
 	<section id="about">
	<div class="container">
		<div class="row">
		<div class="col-md-5">
			<div class="about-img">
            <img class="shape" src="/img/about_tringle.png" alt="">
            <img class="man" src="/img/background2.png" alt="">
			</div>
		</div>
		
		<div class="col-md-7 about-right">
			
			<h2 class="color-3"><b>About My Shops</b>
			</h2>
			
			<p class="p-first text-white">
			Here’s the one thing to know about men’s style: it’s all about the shoes. Whether you are dressed up or going to the gym, a great pair of shoes makes all the difference. Get noticed in classic oxfords, cool boots, and the latest loafers. Even your everyday, casual style–like your sneakers, althetic shoes, and sandals–will get an instant upgrade with the right shoes. Just look for top brands like adidas, Aston Grey, Cole Haan, Converse, Nike, Seven 91, and more. And don’t worry: we’ve got really great prices so you can get all the styles you need. Shop men’s shoes 


			</p>
			<p class="text-white">
			Shop for men's shoes online at DSW, where we carry a wide range of shoe styles and brands. Use our product filters to find the perfect men's shoes online.
			</p>
			<h3 class="color-3 social-link-text">
				<a href="/contact" style="text-decoration: none;"><button class="btn btn-danger">Contact me</button></a>
			</h3>
			
			<ul class="about-link">
				<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				
			 <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				
				
				<li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
				
				
				<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				
				
				<li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
		 
			</ul>
		 
			
		</div>
	 
		</div>
	</div>
  
 	</section>
  </div>
 
   
</body>
</html>