<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
	{{> header}}
    	<div class="sidebar" id="small-menu">
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item">
				<a href="/admin" class="sidebar-nav-link " style="text-decoration: none;">
					<div>
						<i class="fa fa-product-hunt" aria-hidden="true"></i>
					</div>
					
						<span>My product</span>
				</a>
			</li>
			<li class="sidebar-nav-item">
				<a href="/admin/add-new-product" class="sidebar-nav-link active " style="text-decoration: none;">
					<div>
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
					</div>
					<span>Add new products</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/admin/products-deleted" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-backspace    "></i>
					</div>
					<span>Product-deleted</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/login" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-sign-in-alt    "></i>
					</div>
					<span>Login</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="/products" class="sidebar-nav-link" style="text-decoration: none;">
					<div>
						<i class="fas fa-store    "></i>
					</div>
					<span>My shop</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<!-- main content -->
	<div class="wrapper">
		
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Add new product
						</h3>
							<i class="fas fa-bars" id="btn-click"></i>
					</div>
					<div class="card-content">
					
						
								<form  method="POST" action="/products/store">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name product</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Brand</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="brand">
                                <option>Nike</option>
                                <option>Adidas</option>
                                <option>Puma</option>
                                <option>Merrell</option>
                                <option>Gucci</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Link image</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="image">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Price</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="price">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                         </form>
							
							
					
				</div>
			</div>
			
		</div>
 <script>
     document.getElementById("btn-click").onclick = function() {Function()};
    function Function() {
         var x = document.getElementById("small-menu");
              if (x.style.display === "block") {
                x.style.display = "none";
              } else {
                x.style.display = "block";
              }
        }
    </script>
        <script>
            const primaryColor = '#4834d4'
const warningColor = '#f0932b'
const successColor = '#6ab04c'
const dangerColor = '#eb4d4b'

const themeCookieName = 'theme'
const themeDark = 'dark'
const themeLight = 'light'

const body = document.getElementsByTagName('body')[0]



function getCookie(cname) {
  var name = cname + "="
  var ca = document.cookie.split(';')
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1)
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length)
    }
  }
  return ""
}

loadTheme()

function loadTheme() {
	var theme = getCookie(themeCookieName)
	body.classList.add(theme === "" ? themeLight : theme)
}


        </script>
</body>
</html>