<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pullshoes</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
	    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	   <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- style css -->
      <link rel="stylesheet" href="/css/home.css">
     
   </head>
 
   <!-- body -->
   <body class="main-layout">
	     {{> header-home}}
	<!-- header section start -->
	<div class="header_section">
		<div class="banner_section">
			<div class="container-fluid">
				<section class="slide-wrapper">
   					 <div class="container-fluid">
	    				<div id="myCarousel" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
					<div class="col-sm-2 padding_0">
					</div>
					<div class="col-sm-5">
						<div class="banner_taital">
							<h1 class="banner_text">New Running Shoes </h1>
							<h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
							<p class="lorem_text">Best selling shoe brand in recent years.</p>
							<button class="buy_bt">Buy Now</button>
							<button class="more_bt">See More</button>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="shoes_img"><img src="/img/images/running-shoes.png"></div>
					</div>
				</div>
                </div>
              
</section>			
			</div>
		</div>
	</div>

	  {{!-- end  --}}
       <!-- Swiper -->
	    <h1 class="new_text" style="text-align: center; padding-top: 80px;"><strong>Selling Products</strong></h1>
       <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1515555230216-82228b88ea98?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.pixabay.com/photo/2020/03/10/15/01/sneakers-4919228__340.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1612902377756-414b2139d5e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.pixabay.com/photo/2020/07/21/18/31/footwear-5427077__340.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1619223517625-3ec487a7c1d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ4fHxzaG9lc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1512374382149-233c42b6a83b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1542219550-37153d387c27?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
          </div>
          <div class="swiper-slide">
            <img src="https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2hvZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      {{!-- end slide --}}
	<!-- header section end -->
	<!-- new collection section start -->
    <div class="layout_padding collection_section">
    	<div class="container">
    	    <h1 class="new_text"><strong>New  Collection</strong></h1>
    	    <p class="consectetur_text"> </p>
    	    <div class="collection_section_2">
    	    	<div class="row">
    	    		<div class="col-md-6">
    	    			<div class="about-img">
    	    				<button class="new_bt">New</button>
    	    				<div class="shoes-img"><img src="/img/images/shoes-img1.png"></div>
    	    				<p class="sport_text">Men Sports</p>
    	    				<div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
    	    				
    	    			</div>
    	    			<button class="seemore_bt">See More</button>
    	    		</div>
    	    		<div class="col-md-6">
    	    			<div class="about-img2">
    	    				<div class="shoes-img2"><img src="/img/images/shoes-img2.png"></div>
    	    				<p class="sport_text">Men Sports</p>
    	    				<div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
    	    				
    	    			</div>
    	    		</div>
    	    	</div>
    	    </div>
    	</div>
    </div>
    <div class="collection_section">
    	<div class="container">
    		<h1 class="new_text"><strong>Sell product</strong></h1>
    	    <p class="consectetur_text"></p>
    	</div>
    </div>
    <div class="collectipn_section_3 layuot_padding">
    	<div class="container">
    		<div class="racing_shoes">
    			<div class="row">
    				<div class="col-md-8">
    					<div class="shoes-img3"><img src="/img/images/shoes-img3.png"></div>
    				</div>
    				<div class="col-md-4">
    					<div class="sale_text"><strong>Sale <br><span style="color: #0a0506;">JOGING</span> <br>SHOES</strong></div>
    					<div class="number_text"><strong>$ <span style="color: #0a0506">100</span></strong></div>
    					<button class="seemore">See More</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  
	<!-- new collection section end -->
	<!-- New Arrivals section start -->
    <div class="layout_padding gallery_section">
    
    		</div>
    		<div class="buy_now_bt">
    			<button class="buy_text"></button>
    		</div>
    	</div>
    </div>
   	<!-- New Arrivals section end -->
   	<!-- contact section start -->
   
	

      <!-- Javascript files-->
     <div class="brand">
        <h1 style="text-align: center;margin-bottom: 20px;margin-top: 10px;">TRUSTED PARTNERS</h1>
        <div class="img-brand">
          <div class="nike"><img src="/img/nike.webp" alt=""></div>
          <div class="nike"><img src="/img/adidas.webp" alt=""></div>
          <div class="nike"><img src="/img/puma.webp" alt=""></div>
          <div class="nike"><img src="/img/merrellm.webp" alt=""></div>
          <div class="nike"><img src="/img/gucci.webp" alt=""></div>
        </div>
      </div>
    

	 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  
      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".mySwiper", {
          effect: "coverflow",
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: "auto",
          coverflowEffect: {
            rotate: 20,
            stretch: 0,
            depth: 200,
            modifier: 1,
            slideShadows: true,
          },
         loop: true,
         autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        });
      </script>

   </body>
</html>