<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/location.css">
</head>
<body>
    {{> header-location}}
    <div class="container">
        <div class="img">

        </div>
        <div class="black">
             <div class="txt">
            <div class="left">
                 <h3>Out Shop</h3>
                <p>Accurate, reliable information</p>
                <p>The store address is specified below, customers can contact us for support</p>
            </div>
           <div class="right">
               <h3>Adress</h3>
               <p>Explore our store</p>
               <p>There are many wonderful things waiting for you to discover</p>
           </div>
        </div>
        </div>
       
        <div class="content">
            
            <div class="adress">
                <h1>LOCATION</h1>
                <div class="box">
                    <div class="child">
                        <p>Shop name: Fast shop</p>
                        <p>The best shop</p>
                        <p>City, Adress.</p>
                        <p>Telephone: +84373772223</p>
                        <p>FAX: +84373772223</p>
                        <p>E-mail: mail@example.com</p>
                    </div>
                    <div class="child">
                        <p>Online shop</p>
                        <p>Service</p>
                        <p>Adress: VN</p>
                   </div>
                </div>
            </div>
             <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26371661.859564565!2d-113.72360706725826!3d36.210406270518746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2zSG9hIEvhu7M!5e0!3m2!1svi!2s!4v1624234430524!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
       
    </div>
</body>
</html>