<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="content">
         <div class="container">
        <div class="blueBg">
            <div class="box singin">
                <h2>Already have an account ?</h2>
                <button class="singinBtn">Singin</button>
            </div>
            <div class="box singup">
                <h2>Don't have an account ?</h2>
                <button class="singupBtn">Singup</button>
            </div>
        </div>
        <!-- end blueBg -->
        <div class="formBx">
           <div class="form singinForm">
            <form action="">
                <h3>Singin</h3>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
           </div>
           <div class="form singupForm">
            <form action="">
                <h3>Singup</h3>
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <input type="submit" value="Regiter">
            </form>
           </div>
        </div>
    </div>
    </div>
   
    <script>
        const singinBtn = document.querySelector('.singinBtn');
        const singupBtn = document.querySelector('.singupBtn');
        const formBx = document.querySelector('.formBx');
        const body = document.querySelector('body');

        singupBtn.onclick = function() {
            formBx.classList.add('active');
            body.classList.add('active');
        }
        singinBtn.onclick = function() {
            formBx.classList.remove('active');
            body.classList.remove('active');
        }
    </script>
</body>
</html>